<div class="row webcam-package">
	<div class="distance" style="margin-left: 50px">
			<div class="row">
				<h4>Webcam Package (Canvas Hub S)</h4>
				<div class="connection-status-line">
					<p>
						<span>Installation Status: </span>
						<span id="connection-state-msg-webcam" class="text-muted" data-bind="text: installedText, style: { color: installedText() === 'Installed' ? '#17a078' : '#fe4141' }"></span>
					</p>
				</div>
			</div>
			<div class="row">
				<button class="btn btn-primary install-package-button" data-bind="click: installPackage, attr : {'disabled' : installed() || installStarted() || !isHubS()}">Install Package</button>
			</div>
			<div class="row">
				<div class="loader-container" data-bind="visible: installStarted()">
					<span data-bind="text: detailsText"></span>
					<span class="small-loader-webcam" data-bind="visible: installStarted() && !installFinished()"></span>
				</div>
			</div>
			<div class="row configuration-settings" data-bind="visible: installed() && !installFinished()">
				<h4>Configuration Settings</h4>
				<ul class="settings-list">
					<li class="setting-item">
						<label>Resolution</label>
						<div class="setting-input">
							<select data-bind="value: selectedResolution, options: resolutions, optionsText: 'label', optionsValue: 'value', disable: manualConfig"></select>
						<div>
					</li>
					<li class="setting-item">
						<label>Frame rate</label>
						<div class="input-append setting-input">
							<input class="input-mini" type="number" min="1" max="120" value="15" data-bind="value: frameRate, disable: manualConfig">
							<span class="add-on">fps</span>
						</div>
					</li>
					<li class="setting-item">
						<label>Quality</label>
						<div class="input-append setting-input">
							<input class="input-mini" type="number" min="1" max="100" value="60" data-bind="value: quality, disable: manualConfig">
							<span class="add-on">%</span>
						</div>
					</li>
					<li class="setting-item">
						<label>Enable YUV</label>
						<div class="setting-input">
							<input type="checkbox" data-bind="checked: yuv, disable: manualConfig">
						<div>
					</li>
				</ul>
				<div class="manual-config">
					<h5>Manual Configuration</h5>
					<input class="manual-config-input" type="text" data-bind="value: manualConfig"></input>
				</div>
				<div class="final-parameters">
					<span>Final parameters:</span>
					<span class="input-options-string" data-bind="text: configString"></span>
				</div>
				<a class="help-link" target="_blank" href="https://github.com/foosel/OctoPrint/wiki/Webcams-known-to-work">Need help with the configuration settings?</a>
				<button class="btn btn-primary" data-bind="text: saveConfigButtonText, click: saveConfigSettings, attr : {'disabled' : saveConfigDisabled()}">Save Settings</button>
			</div>
	</div>
</div>