.webcam-package {
  margin-bottom: 10px;
}

.install-package {
  margin: 10px 0;
}

#connection-state-msg-webcam {
  margin-left: 3px;
}

.loader-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.small-loader-webcam {
  display: inline-flex;
  overflow: hidden;
  margin: 0;
  margin-left: 7px;
  width: 13px;
  height: 13px;
  border: 2px solid fade(#000000, 40%);
  border-top-color: #000000;
  border-radius: 50%;
  animation: rotate360 1.5s linear infinite;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.configuration-settings {
  margin-top: 20px;

  .settings-list {
    list-style: none;
    margin: 15px 0 15px 0;

    .setting-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
      margin-bottom: 15px;

      label {
        margin: 0;
      }

      .setting-input {
        display: flex;
        align-items: center;

        &.input-append {

          .input-mini {
            width: 100%;
          }

          .add-on {
            width: 15px;
          }

        }

        input {
          margin: 0;
        }
      }
    }
  }

  .final-parameters {
    margin-top: 35px;
    margin-bottom: 15px;
  }

  .manual-config {
    margin-top: 30px;
    margin-bottom: 40px;

    .manual-config-input {
      width: calc(100% - 25px);
      margin-right: 25px;
    }
  }

  .input-options-string {
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 15px;
    margin-left:15px;
    background: rgba(245, 245, 245, 1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  }

  .help-link {
    display: block;
    margin-bottom: 10px;
  }
}